.image-box {
  width: 100%;
  aspect-ratio: 2 / 3;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #ccc;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}