.movie-detail {
    margin: 0 auto;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem; 

    &__back {
        padding: 6px 16px 6px 24px;
        background: #2c3e50;
        color: #fff;
        text-decoration: none;
        font-size: 0.9rem;
        width: 5rem;

        clip-path: polygon(
            0 50%,
            10px 0,
            100% 0,
            100% 100%,
            10px 100%
        );

        transition: background 0.2s ease;

        &:hover {
            background: #34495e;
        }
    }

    &__header {
        display: flex;
        gap: 1.5 rem;
        align-items: flex-start;
    }

    &__poster {
        width: 300px;
        flex-shrink: 0;
        border-radius: 16px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__name {
        font-size: 3rem;
        line-height: 1.2;
        margin: 0;
    }

    &__rating {
        align-self: flex-start;
        margin-top: auto;
        
        color: #fff;
        padding: 4px 10px;
        border-radius: 8px;

        font-size: 1.2rem;
        font-weight: 600;
    }

    &__year {
        font-size: 1.5rem;
    }

    &__ganres {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    &__ganre {
        background: #ccc;
        border-radius: 6px;
        padding: 4px 8px;
        font-size: 1.1rem;
        white-space: nowrap;
    }

    &__desc {
        line-height: 1.6;

        p {
            margin: 0;
            font-size: 1rem;
        }
    }

    &__sub {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    &__loading {
        text-align: center;
        padding: 2rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 800px) {
    .movie-detail {
        &__header {
            flex-direction: column;
            align-items: center;
        }

        &__poster {
            width: 70%;
            max-width: 300px;
        }

        &__info {
            align-items: center;
        }

        &__rating {
            align-self: center;
        }
    }
}