<header class="page-header">
    <h1 class="page-header__title">Каталог фильмов</h1>
    <app-search-bar (searchChange)="searchTerm.set($event)"></app-search-bar>
</header>

<main class="movie-list">
    @if (load()) {
        <div class="movie-list__status">Loading...</div>
    }
    @else if (error()) {
        <div class="movie-list__status movie-list__status--error">{{error()}}</div>
    }
    @else {
        <section class="movie-grid">
            @for (movie of filteredMovies(); track movie.id) {
                <app-movie-card
                    [movie]="movie"
                    (hoverMovie)="onMouseHover($event.event, $event.movie)"
                    (leaveMovie)="hidePreview()">
                </app-movie-card>
            }
        </section>
    }
    
</main>

@if (previewMovie()) {
    <app-movie-preview
        [movie]="previewMovie()!"
        [x]="previewX()"
        [y]="previewY()">
    </app-movie-preview>
}
