.page-header {
  padding: 1rem;
  text-align: center;

  &__title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

.movie-list {
  padding: 1rem;

  &__status {
    text-align: center;
    font-size: 1.2rem;

    &--error {
      color: red;
    }
  }
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
}

.movie-card__image,
.preview__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.movie-item {
  position: relative;
}

.preview {
  position: fixed;
  top: 0;
  width: 320px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 12px;

  opacity: 0;
  pointer-events: none;
  transform: translateY(10px) scale(0.95);
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 10;

  &.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
  }

  &__top {
    display: flex;
    gap: 12px;
  }

  &__figure {
    width: 50%;
    height: clamp(140px, 40%, 180px);
    flex-shrink: 0;
    margin: 0;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
  }

  &__ganres {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  &__ganre {
    background: #ccc;
    border-radius: 6px;
    padding: 2px 8px;
    font-size: 0.75rem;
    white-space: nowrap;
  }

  &__rating {
    align-self: flex-start;
    margin-top: auto;
    padding: 4px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
  }

  &__desc {
    font-size: 0.85rem;
    line-height: 1.4;
    margin-top: 0.5rem;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.preview--right {
  left: 105%;
  right: auto;
}

.preview--left {
  right: 105%;
  left: auto;
}


@media (max-width: 600px) {
  .card img {
    height: 220px;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  .movies {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
