<article class="movie-card"
  (mousemove)="onMouseMove($event)"
  (mouseleave)="onMouseLeave()">

  <a class="movie-card__link" [routerLink]="['/movie', movieToSlug(movie())]">

    <figure class="movie-card__figure image-box card-image">
      @if (movie().image) {
        <img class="movie-card__image" [src]="movie().image" [alt]="movie().name">
      } @else {
        <div class="skeleton"></div>
      }
    </figure>
    <h2 class="movie-card__name">{{ movie().name }}</h2>
    <p class="movie-card__year">{{ movie().year }}</p>
  </a>
</article>
