<article class="preview" #previewEl
    role="tooltip">
    <div class="preview__top">
        <figure class="preview__figure image-box preview-image">
            @if (movie().image) {
                <img class="preview__image" [src]="movie().image" alt="{{ movie().name }}">
            } @else {
                <div class="skeleton"></div>
            }
        </figure>

        <div class="preview__info">
            <h3 class="preview__name">{{ movie().name }}</h3>
            <p class="preview__year">{{ movie().year }}</p>
            <div class="preview__ganres">
                @for (g of movie().ganre; track g) {
                    <span class="preview__ganre">
                        {{g}}
                    </span>
                }
            </div>
            <span class="preview__rating"
                [ngClass]="movie().rating | ratingColor">
                {{ movie().rating }}
            </span>
        </div>
    </div>
    <p class="preview__desc">{{ movie().description }}</p>
</article>
