.preview {
  position: fixed;
  top: 0;
  width: 320px;
  max-width: 320px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 12px;

  opacity: 0;
  pointer-events: none;
  transform: translateY(10px) scale(0.95);
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 10;

  &.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
  }

  &__top {
    display: flex;
    gap: 12px;
  }

  &__figure {
    width: 50%;
    height: clamp(140px, 40%, 180px);
    flex-shrink: 0;
    margin: 0;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
    min-width: 0;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__ganres {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  &__ganre {
    background: #ccc;
    border-radius: 6px;
    padding: 2px 8px;
    font-size: 0.75rem;
    white-space: nowrap;
  }

  &__rating {
    align-self: flex-start;
    margin-top: auto;
    padding: 4px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
  }


  &__desc {
    font-size: 0.85rem;
    line-height: 1.4;
    margin-top: 0.5rem;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}